<table class="table table-hover col-10">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.picture }}" class="img-circle" width="70" height="70">
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>'s post:
            <a href="{{ url_for('full_post', id=post.id) }}">{{ post.title}}</a>
            <br>
            {{ post.body|safe }}
        </td>
    </tr>
</table>