{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="warpper" style="width: 700px; margin: auto">
    <h1>Flask-CKEditor Demo: Image Upload</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.title.label }}<br>
        {{ form.title }}<br><br>
        {{ form.body.label }}<br>
        {{ form.body }}
        <br>
        {{ form.submit }}
    </form>
</div>
{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}